<section class="min-h-screen flex flex-col md:flex-row gap-2 md:gap-5 pt-10 md:pt-0 justify-center items-center" id="about">
  <div class="flex flex-col gap-2 md:gap-5 w-[400px] p-10">
    <span class="text-danger text-2xl font-semibold">Hello, welcome</span>
    <span class="text-white text-4xl font-bold">I'm Joams Mogro</span>
    <p class="prose text-text_primary text-lg">I'm a full stack developer with experience building complete web applications, from backend to frontend, optimizing both performance and user experience.</p>
    <div class="flex flex-row justify-evenly">
      <a href="#contact" class="px-5 py-2 text-center bg-accent w-40 rounded-lg text-bg_secondary font-bold hover:text-accent hover:bg-bg_secondary transition-all duration-150">Contact me</a>
      <a href="https://drive.google.com/uc?export=download&id=15Ee2dQjH9YOp_q4QAXiYrPXlieCyK9BT"> <img src="/icons/cv.svg" alt="cv" class="w-10"></a>
    </div>
  </div>
  <img src="images/profile.webp" alt="profile image" class="w-80 rounded-xl">
</section>
